@import 'https://unpkg.com/open-props/easings.min.css';
.sound {
	fill: var(--icon-fill);
}

.toggle {
	--size: 2rem;
	--icon-fill: #0f172a;
	--beams-fill: #94a3b8;

	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;

	.icon {
		stroke-linecap: round;

		// Align moon, sun, beams to layers
		.moon,
		.sun,
		.beams {
			transform-origin: center center;
		}
		.sun {
			transform: scale(1);
		}

		// sync moon,sun background
		.moon,
		.sun {
			fill: var(--icon-fill);
		}

		.beams {
			stroke: var(--beams-fill);
			stroke-width: 2px;
		}
	}
	&.dark {
		.icon {
			.sun {
				transform: scale(1.5);
			}

			.beams {
				opacity: 0;
			}

			.moon > circle {
				transform: translateX(-7px);
			}
		}
	}

	@media (hover: none) {
		--size: 48px;
	}
}

// motion by default
@media (prefers-reduced-motion: no-preference) {
	.sun {
		transition: transform 0.5s var(--ease-elastic-3);
	}

	.beams {
		transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
	}

	.moon > circle {
		transition: transform 0.25s var(--ease-out-5);
	}

	@supports (cx: 1) {
		.moon > circle {
			transition: cx 0.25s var(--ease-out-5);
		}
	}

	.sun {
		transition-timing-function: var(--ease-3);
		transition-duration: 0.25s;
		transform: scale(1.75);
	}

	.beams {
		transition-duration: 0.15s;
		transform: rotateZ(-25deg);
	}

	.moon > circle {
		transition-duration: 0.5s;
		transition-delay: 0.25s;
	}
}
