.container {
  $containerExtendedWidth: 196px;
  $containerWidth: 38px;
  width: $containerWidth;

  &.open {
    width: $containerExtendedWidth;
  }
}

.active {
  background-color: theme("colors.gray.950") !important;
  color: theme("colors.white") !important;
}
