.empty {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  color: hsl(var(--muted-foreground));
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
